<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="RootPath" value="D:\Perforce" />
    
    <add key="ServerSubPath" value="Server" />
    <add key="DepotSubPath" value="Server\Depot" />    
    <add key="JournalSubPath" value="Server\Backup" />
    <add key="CheckpointSubPath" value="Backup" />
    <add key="LogFilesSubPath" value="Server\Backup" />
    <add key="MaxLogSize" value="5" />
    <add key="MaxAuditLogSize" value="4" />
    <add key="SevenZipSubPath" value="Checkpoint" />
    <add key="BackupArhiveSubPath" value="Checkpoint" />
    
    <add key="CheckpointLogName" value="Checkpoint_Log" />
    <add key="CheckpointLogExtension" value="xls" />

    <add key="ArhivePath" value="D:\Arhiv" />
    <add key="ArhiveName" value="VivacomDotNet" />
    <add key="ArhiveType" value="7z" />
  </appSettings>
</configuration>